@font-face {

	font-family:'blackout';
	src: url('Blackout Sunrise.ttf');
}

h1 {

	font-family:'blackout';
}


.colorierhumeurs {

	
	background-color:#009900;
}

p {

	background-color:pink;
}

body {

	width:20%;
	margin-left:450px;
	margin-top:200px;
}